<div class="container">
    <div class="img">
        <img src="assets/images/qonsult-logo.png" alt="">
    </div>
    <div class="text-content">
        <p>
            Votre consentement est déja signé. Vous le trouverez dans votre boite mail.
        </p>
        <br>
        <p>
            La confidentialité et la sécurité de vos informations personnelles sont soumises au secret médical et nous vous garantissons une transmission électronique de votre consentement par un serveur totalement sécurisé.
        </p>
    </div>
</div>
