<div class="card">
    <p-table [value]="groups" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Groupe</th>
                <th>Date de création</th>
                <th>Modifier</th>
                <th>Effacer</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.groupName }}</td>
                <td>{{product.createdDate}}</td>
                <td>
                    <button (click)="modifyGroup(product.id)" [ngStyle]="{'margin-bottom':'2%'}" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-outlined"></button>
                </td>
                <td>
                    <button (click)="deleteGroup(product.id)" [ngStyle]="{'margin-bottom':'2%'}" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="add-group">
    <p-button (click)="addNewGroup()" label="Ajouter un groupe"/>
</div>
<app-add-group #addUpdateGroupComponent (closedModal)="onModalClosed()" (Group)="saveGroup($event)" [visible]="isCreateGroupModalVisible" (modifyGroup)="modifyGroup($event)" (saveGroup)="saveGroup($event)" [visible]="isCreateGroupModalVisible"></app-add-group>
