<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
        <mat-form-field class="example-full-width">
            <input formControlName="questionnaireTitle" matInput placeholder="Titre du questionnaire" />
        </mat-form-field>
    </div>

    <div formArrayName="sections">
        <div
            *ngFor="let item of sections.controls; let i = index"
            [formGroupName]="i"
        >
            <div class="card" style="margin-bottom: 1%;">
                <div (click)="removeItem(i)" class="delete-section">X</div>
                <app-questionnaire-section
                    id="{{ i }}"
                    formControlName="questions"
                ></app-questionnaire-section>
            </div>
        </div>
        <br>
    </div>

    <div class="add-section" (click)="addItem()">
        <i class="material-icons add-section-button">add</i> <span>Ajouter une section</span>
    </div>
</form>

<div class="submit-section">
    <button (click)="onSubmit()" pButton pRipple label="Enregistrer" ></button>
</div>
