.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
    background-color: white;
  }
  .white-background {
    background-color: white;
  }
.mat-mdc-text-field-wrapper{
    background-color: white !important;
}
