<div class="grid">
    <div class="col-12 md:col-12">
        <div class="card p-fluid">
            <h5>Mes informations</h5>
            <div>
                <form>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="firstName">Nom</label>
                            <input pInputText id="firstName" type="text" />
                        </div>
                        <div class="field col">
                            <label htmlFor="lastName">Prénom</label>
                            <input pInputText id="lastName" type="text" />
                        </div>
                    </div>
                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlFor="address">Adresse</label>
                            <input pInputText id="address" type="text" />
                        </div>
                        <div class="field col">
                            <label htmlFor="email">Email</label>
                            <input pInputText id="email" type="text" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="save-button">
                <p-button label="Enregistrer" type="submit"></p-button>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-12">
        <div class="card p-fluid">
            <h5>Changement de mot de passe</h5>
            <div>
                <form [formGroup]="changePasswordForm">
                    <div class="grid">
                        <div class="field col">
                            <label htmlFor="oldPassword"
                                >Mot de passe actuel</label
                            >
                            <input formControlName="oldPassword" pInputText id="oldPassword" type="text" />
                        </div>
                        <div class="field col">
                            <label htmlFor="oldPasswordConfirmation"
                                >Nouveau mot de passe</label
                            >
                            <input formControlName="oldPasswordConfirmation" pInputText id="oldPasswordConfirmation" type="text" />
                        </div>
                        <div class="field col">
                            <label htmlFor="newPassword"
                                >Confirmation du mot de passe</label
                            >
                            <input formControlName="newPassword" pInputText id="newPassword" type="text" />
                        </div>
                    </div>
                    <p *ngIf="passwordsNotEquals" class="passwords-not-equals">Les mots de passes ne sont pas identiques</p>
                    <p *ngIf="wrongPassword" class="passwords-not-equals">Le mot de passe est erroné</p>
                </form>
            </div>
            <div class="save-button">
                <p-button (click)="changePassword()" label="Enregistrer" type="submit"></p-button>
            </div>
        </div>
    </div>
</div>
