<!-- <div class="card">
    <div class="title">
        <h3>Envoyer un Questionnaire</h3>
    </div>
    <form [formGroup]="form">
        <div class="row">
            <div id="main" class="col-sm-6">
                <p class="field">Chercher un questionnaire :</p>
                <p-autoComplete class="select-questionnaire" formControlName="questionnaire" [virtualScroll]="true" [suggestions]="filteredQuestionnaires" (completeMethod)="filterQuestionnaireNames($event)" field="name" [dropdown]="true"> </p-autoComplete>
                <div class="questionnaire-preview">
                    <app-question *ngIf="form.value.questionnaire.id;else noQuestionnaireSelected" [preview]="true" [id]="form.value.questionnaire.id"></app-question>
                    <ng-template #noQuestionnaireSelected>
                        <div class="noQuestionnaireSelected">Selectionner un questionnaire pour le visualiser ici</div>
                    </ng-template>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <p class="field">Emails :</p>
                    <p-autoComplete class="autocomplete" formControlName="emails" [suggestions]="emails"
                        (completeMethod)="search($event)" [multiple]="true" (keydown.enter)="handleKeyPress()">
                    </p-autoComplete>
                </div>
                <div class="row">
                    <p class="field">Date du rendez vous :</p>
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar (selectedChange)="updateFormDate($event)" [(selected)]="selected"></mat-calendar>
                    </mat-card>
                </div>
            </div>

        </div>
        <p-button class="send-button" label="Envoyer" (click)="sendInvitation()"></p-button>
    </form>
</div> -->



<div class="card">
    <div class="title">
        <h3>Envoyer un Questionnaire</h3>
    </div>
    <form [formGroup]="form">
        <div class="row">
            <div class="questionnaire-preview-container">
                <p class="field">Selectionner un consentement :</p>
                <div>
                    <p-dropdown [options]="questionnaireNames" formControlName="questionnaire" placeholder="selectionner un consentement" [editable]="true" optionLabel="name"></p-dropdown>
                </div>

                <div class="consent-preview">
                    <div class="sign-questionnaire-preview">
                        <!-- <app-sign-consent *ngIf="form.value.consent.consentId;else noConsentSelected" [consentRequestId]="form.value.consent.consentRequestId"></app-sign-consent> -->
                        <app-question *ngIf="form.value.questionnaire.questionnaireRequest;else noQuestionnaireSelected" [preview]="true" [id]="form.value.questionnaire.questionnaireRequest"></app-question>

                    </div>
                    <ng-template #noQuestionnaireSelected>
                        <div class="no-questionnaire-selected">Selectionner un consentement pour le visualiser ici</div>
                    </ng-template>
                </div>
            </div>

            <div>
                <div class="row">
                    <p class="field">Emails :</p>
                    <p-autoComplete class="autocomplete" formControlName="emails" [suggestions]="emails"
                        (completeMethod)="search($event)" [multiple]="true" (keydown.enter)="handleKeyPress()">
                    </p-autoComplete>
                </div>
            </div>

            <div class="row">
                <p class="field">Date du rendez vous :</p>
                <mat-card class="demo-inline-calendar-card">
                    <mat-calendar (selectedChange)="updateFormDate($event)" [(selected)]="selected"></mat-calendar>
                </mat-card>
            </div>


        </div>
        <p-button class="send-button" label="Envoyer" (click)="sendInvitation()"></p-button>
    </form>
</div>
