.row {
    margin-bottom: 2%;
}

.p-autocomplete {
    width: 100%;
}

// @media(max-width:767px){
//     ul.p-autocomplete-multiple-container{
//         height: 30px;
//     }
// }
// @media(min-width:767px){
//     ul.p-autocomplete-multiple-container{
//         height: 140%;
//     }
// }

.demo-inline-calendar-card {
    width: 350px;
    margin: auto;
  }

// .consent-preview{
//     overflow-x:scroll;
//     overflow: scroll;
//     margin-top: 10px;
//     display: flex;
//     height: 600px;
// }
.container{
    justify-content: center ! important;
}

// @media(max-width:767px){
//     .consent-preview{
//         height: 400px;
//     }
// }

ul.p-autocomplete-multiple-container{
    width: 100% !important;
    min-height: 50px;
}

.no-questionnaire-selected {
    width: 100%;
    height: 50vh;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f0f0f0;
}

.field{
    font-weight: 500;
}

.p-inputtext.p-component.ng-star-inserted{
    min-height: 50px !important;
    width: 100% !important;
}

.send-button{
    display: flex;
    justify-content: end;
}

.p-autocomplete-dropdown{
    margin-left: 3px;
}


.sign-questionnaire-preview{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.p-dropdown{
    width: 100% !important;
}


// .p-inputwrapper-filled{
//     width: 100%;
// }
