<div class="container">
    <div class="img">
        <img src="assets/images/qonsult-logo.png" alt="">
    </div>
    <div class="text-content">
        <p>
            Afin de vous apporter la meilleure prise en charge, chaque première consultation fait l'objet d'un questionnaire médical précis, consigné dans votre dossier.
        </p>
        <br>
        <p>
            Les réponses que vous fournirez feront l'objet d'une attention particulière permettant une évaluation précise de votre état de santé par votre chirurgien-dentiste, et si nécessaire une adaptation de son traitement et/ou prescriptions.
        </p>
    </div>
</div>
